@import "../../css/Custom.scss";

.landing-features {
 
  .container {
    padding-top: 5rem;

    h2 {
      font-family: Lora;
      font-size: 50px;
      font-weight: bold;
      color: #000000;
    }

    p.sub {
      font-size: 1.2rem;
     
      margin-bottom: 5rem;
    }
  }

  .feature-card {
    padding: 1rem 3rem;
    text-align: left;

    .feature-list {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      color: #371c74;
    }

    .feature-title {
      font-weight: bold;
      font-family: Lora;    
      font-size: 33px;
      color: #000000;
    }

    .feature-text {
      font-family: Poppins;
      font-size: 20px;
      color: #000000;
    }
  }
}

.feature-img {
  max-width: 800px;
  height: 317px;
}
